<p-drawer
  [visible]="article() !== null"
  position="right"
  [style]="{ width: '460px' }"
  (visibleChange)="!$event && close.emit()"
>
  <ng-template #header>
    @if (article(); as a) {
      <p-tag [value]="STATUS_META[a.status].label" [severity]="STATUS_META[a.status].severity" />
    }
  </ng-template>

  @if (article(); as a) {
    <div class="drawer-body">
      <h2 class="drawer-title">{{ a.title }}</h2>

      <div class="meta-row">
        <span class="meta-item"><i class="pi pi-user"></i> 作者：{{ a.author }}</span>
        <span class="meta-item"><i class="pi pi-clock"></i> 建立於 {{ formatDateTime(a.createdAt) }}</span>
      </div>
      <div class="meta-row">
        <span class="meta-item"><i class="pi pi-pencil"></i> 編輯者：{{ a.editor }}</span>
        <span class="meta-item"><i class="pi pi-clock"></i> 編輯於 {{ formatDateTime(a.updatedAt) }}</span>
      </div>
      @if (a.publishedAt || a.archivedAt) {
        <div class="meta-row">
          @if (a.publishedAt) {
            <span class="meta-item"><i class="pi pi-send"></i> 上架於 {{ formatDateTime(a.publishedAt) }}</span>
          }
          @if (a.archivedAt) {
            <span class="meta-item"><i class="pi pi-times-circle"></i> 下架於 {{ formatDateTime(a.archivedAt) }}</span>
          }
        </div>
      }

      @if (a.tags.length) {
        <div class="drawer-tags">
          @for (t of a.tags; track t) {
            <span class="tag-chip">#{{ t }}</span>
          }
        </div>
      }

      <div class="drawer-content ql-editor-content" [innerHTML]="a.content"></div>
    </div>

    <ng-template #footer>
      <div class="drawer-foot">
        <p-button label="關閉" severity="secondary" [outlined]="true" (onClick)="close.emit()" />
        <p-button label="編輯" [routerLink]="['/articles', a.id, 'edit']" />
      </div>
    </ng-template>
  }
</p-drawer>
